## Artefactos de Sphinx
_build/

## Python
*.pyc
__pycache__/
*.log
*.tmp
.pytest_cache/
.coverage
coverage.xml
dist/
build/

# Ignorar entornos virtuales
.venv/

# Ignorar archivos específicos
assets/marca_gov.png
assets/OCDS-logo-grey.avif
assets/texto.txt
data/raw/
data/processed/
data/bases.pdf
output/
ouput/
